/*ALERTS*/
.alert {
	padding: 1em 2em;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	border-radius: 0em;
	color: #c09853;
	line-height: 1.3em;
	font-size: 1em;
}

.alert.alert-success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert.alert-error {
	color: #B80300;
	background-color: #FCB2B2;
	border-color: #FF8080;
}

.alert.alert-info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
/*ALERTS END*/
